
{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src={% static 'js/main.js' %} defer></script>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    {% if title %}
        <title>Masomo Popote-{{ title }}</title>
    {% else %}
        <title>Masomo Popote</title>
    {% endif %}    
    
    <!--CSS -->
    {% block styles %}
    {% bootstrap_css %}
         <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% endblock %}

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}" style="font-weight: bold;">MASOMO <span style="color: #5E5CC0;">POPOTE</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2" aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-white bg-light" tabindex="-1" id="offcanvasNavbar2" aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">HOME</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#about">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#programs">PROGRAMS</a>
              </li> <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">ADMISSIONS</a>
              </li> <li class="nav-item">
                <a class="nav-link" href="{% url 'tutor-reg' %}">CAREERS</a>
              </li>
            </li> <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
            </li> <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li></li> <li class="nav-item">
                <a class="nav-link" href="#"></a>
              </li>
           
          </ul>
        </div>
      </div>
    </div>
  </nav>
<div class="container-fluid">
    <!--HeroSection-->
    <div class="container">
    <div class="row pt-5">
        <div class="col-4">
            <div style="height: 50px;">
            </div>
            <div style="height: 100px;">

            </div>
            <h1 class="fw-bold">
                Get Access to free learning resources!
            </h1>
            <div style="height: 25px;">
            </div>
            <h6>
                Sign up for free, and reveal the <span style="color: #5E5CC0; font-weight: bold;">MORE</span> in you!
            </h6>
            <div style="height: 50px;">
            </div>
            <button class="button-1" role="button">ENROLL NOW</button>

        </div>
        
        <div class="col-8 hero">

        </div>
    </div>

    </div>

<!--ABOUT-->
<div class="container  pt-5" id="about">
    <h1 class="text-center">
        ABOUT US
    </h1>
    <div class="row mt-3">
        <div class="col-5 abtText">
            <p class="text-center abtParagraph" style="height: 30px;"></p>
            <p class="text-center abtParagraph">
                We conveniently enable students from across the globe
                access learning materials from wherever they are.
            </p>
        <p class="text-center abtParagraph"></p>
            <p class="text-center abtParagraph">
            This in turns connects learners and their tutors from 
            anywhere across the globe.
            </p>
        <p class="text-center abtParagraph"></p>

            <p class="text-center abtParagraph">
                Create an account with us today and get access 
                to some of the most sought after learning material
                there is .
            </p>
        </div>
        <div class="col aboutImg">

        </div>
    </div>
</div>


<!--PROGRAMS-->

<div class="container  pt-5" id="programs">
    <h1 class="text-center">
        OUR PROGRAMS
    </h1>
</div>


<!--FOOTER-->

</div>
















  </body>






  </html>
  